.jfx-tab-pane .headers-region {
    -fx-background-color: #2C3E50;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color:  #2C3E50;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 2;
}
.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #2C3E50;
}

.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -50 0 50;
}

.jfx-tab-pane .tab-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;
    -fx-font-size: 14;
}

.jfx-tab-pane .depth-container .tab-header-area {
    -fx-padding: 0 0 0 0;
}

.jfx-tab-pane{
    -fx-border-color: #2C3E50;
    -fx-padding: 1px;
    -fx-background-insets: 0, 1;
}

.jfx-hamburger-icon StackPane{
    -fx-pref-width: 20px;
    -fx-pref-height: 3px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5px;
}
.toolbar-button{
    -fx-background-color: #34495e;
    -fx-text-fill: #FFFFFF;
}

.toolbar-button:hover{
    -fx-background-color: #2980b9;

}